#Appointment{
    .container{
        display: grid;
        grid-template-columns: 47% 47%;
        gap: 6%;
        

        .info{

            h2{
                text-align: center;
            }

            .para{
                text-align: center;
            }

            
         background: gainsboro;
            p{
                margin: 0.5rem 0 2rem;
            }

                article{
                    display: flex;
                    gap: 1.5rem;
                    margin-bottom: 1.5rem;
                    flex-direction: row;
                   
                    .info-icon i{
                        margin-top: 0rem;
                       background:$primary-color;
                       display: flex;
                       color: white;
                       align-items: center;
                       justify-content: center;
                       font-size: 1.7rem;
                       border-radius: 50%;

                  

                    }
                }
            
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 1.4rem;

            .form_group{
                font-size: 0.8rem;
                margin-bottom: 0.4rem;
                display: inline-block;
                text-align: center;
                font-weight: 600;
            }

            input,textarea, select{
                padding: 0.6rem 2rem;
                display: flex;
                width: 100%;
                background:white ;
                border: 1px solid black;
                &:hover{
                    background: $primary-color;
                    color: white;
                }
               
                
            }

            input.btn{
                padding: 0.6rem 0.6rem;
                display: flex;
                color: white;
                
               width: 50%;
               margin: 0 auto;
                background:$primary-color ;
                border: 1px solid black;
                
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
            }

          
        }
    }
}

// our media queries

@media screen and (max-width:1024px){
    #Appointment{
        .container{
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
}
