footer{
    background: $black-color;
    color: $light-color;
    padding-top: 6rem;
    margin-top: 6rem;
    .container{
font-size: 1.87rem;
a{
    color: $light-color;
    transition: all 400ms ease;
    &:hover{
        color: $white-color;
    }
}


article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
    }
}

@media screen and (max-width:1024px){
    footer{
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.5rem;
            font-size: 0.798rem;
        }
    }
}